{% extends 'base.html.twig' %}

{% block title %}Emmaus || FAQ
{% endblock %}

{% block body %}
{% include '_components/_dots.html.twig' %}
<section class="container">
	<h1 class="fw-bold mt-5 text-dark d-flex justify-content-center">Les questions les plus posées ?</h1>

	<div class="d-flex justify-content-center mb-5">
		<div class="row">
			<div class="col-6 my-md-5">
				{% for faq in faqs %}
					<details class="my-5 text-dark fw-bold text-start">
						<summary class="my-4 text-primary fw-bold fs-4">
							{{ faq.questions }}
						</summary>
						{{ faq.reponse }}
					</details>
				{% endfor %}
			</div>
			<div class="col-6 my-md-5">
			<img src="{{ asset('build/images/img-faq.png')}}" class="w-100">
			</div>
		</div>
	</div>
    </section>
{% endblock %}
