{% extends 'admin.html.twig' %}

{% block title %}Emmaus || Admin
{% endblock %}

{% block body %}
	{% include '_components/_dots.html.twig' %}
	<section class="container">

<h1 class="text-primary fw-bold text-uppercase d-flex justify-content-center my-5">Gestion des contenus administrables</h1>

<div class="d-flex justify-content-center">
<img src="{{ asset('build/images/admin.jpg')}}" class="d-none d-md-flex border border-primary mx-5 my-5">
</div>
</section>

{% endblock %}