{% extends 'base.html.twig' %}

{% block title %}Emmaus || Accueil
{% endblock %}

{% block body %}
	<section class="container">

		<div class="row d-flex my-5">
			<div class="col-7">
				<h1 class="fw-bold mt-5 text-dark">Et pourquoi votre
					<span class="text-primary">smartphone</span>
					n'aurait pas le droit lui aussi à une seconde chance ?</h1>
				<a href="" class="btn btn-primary text-white fw-bold mt-5">Donner votre smartphone</a>
			</div>
			<div class="col-5 my-5 d-flex justify-content-end">
				<img src="{{ asset('build/images/telephone.webp')}}" class="rounded w-75 border border-primary">
			</div>
             </div>


            	<div class="row d-flex my-5">
			<div class="col-5 my-5 d-flex justify-content-start">
				<img src="{{ asset('build/images/lieu.jpeg')}}" class="rounded w-75 border border-primary">
			</div>
			<div class="col-7 text-end">
				<h1 class="fw-bold mt-5 text-dark">Venez nous
					<span class="text-primary text-end">rejoindre !</span></br>
					Découvrez tous nos lieux d'actions ou nous récupérons votre matériel !
                    </h1>
				<a href="https://emmaus-connect.org/nous-trouver/" target="_blank" class="btn btn-primary text-white fw-bold mt-5">Ou nous trouver ?</a>
			</div>
		</div>


	</section>
{% endblock %}
