{% extends 'base.html.twig' %}

{% block title %}Emmaus || Accueil
{% endblock %}

{% block body %}
	{% include '_components/_dots.html.twig' %}
	<section class="container">

		<div class="row-md col d-flex my-5">
			<div class="col-md-7 col">
				<h1 class="fw-bold mt-5 text-dark">Et pourquoi votre
					<span class="text-primary">smartphone</span>
					n'aurait pas le droit lui aussi à une seconde chance ?</h1>
				<a href="https://emmaus-connect.org/dons-des-entreprises/" class="btn btn-primary btn-lg text-white fw-bold mt-5">Donner votre smartphone</a>
			</div>
			<div class="col-md-5 col my-5 d-flex justify-content-end">
				<img src="{{ asset('build/images/telephone.webp')}}" class="rounded w-75 border border-primary">
			</div>
		</div>


		<div class="row-md col d-md-flex d-block my-5">
			<div class="col-md-5 col my-5 d-flex justify-content-start">
				<img src="{{ asset('build/images/lieu.jpeg')}}" class="rounded w-75 border border-primary">
			</div>
			<div class="col-md-7 col text-end">
				<h1 class="fw-bold mt-5 text-dark">Venez nous
					<span class="text-primary text-end">rejoindre !</span>
				</br>
				Découvrez tous nos lieux d'actions ou nous récupérons votre matériel !
			</h1>
			<a href="https://emmaus-connect.org/nous-trouver/" target="_blank" class="btn btn-primary btn-lg text-white fw-bold mt-5">Ou nous trouver ?</a>
		</div>
	</div>

	<div class="d-flex">
		<a href="{{ path('app_roue')}}" class="btn btn-primary btn-lg text-white fw-bold m-auto mb-3">Découvrez la roue spécial bénévole !</a>
	</div>


</section>{% endblock %}
