{% extends 'base.html.twig' %}

{% block title %}Emmaus || Accueil
{% endblock %}

{% block body %}
<section class="container">
<div class="">
<div>
    <h1 class="fw-bold mt-5">Et pourquoi votre <span class="text-primary">smartphone</span> n'aurait pas le droit lui aussi à une seconde chance ?</h1>
    <a href="" class="btn btn-primary text-white fw-bold mt-3">Donner votre smartphone</a>
</div>
<div>
<img src="{{ asset('build/images/telephone.webp')}}">
</div>
</div>

</section>
{% endblock %}