#mobil {
    .form-label {
        color: $dark;
        font-weight: bold;
    }

    .col-form-label {
        color: $dark;
        font-weight: bold;
    }

    .form-control {
        color: $dark;
    }

}