@import 'var.scss';

body {
    background-color: $light;
}

.login {

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    .container-fluid {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bg-image {
        border-radius: 3rem;
        width: 50%;
        height: 40%;
        padding: 60px clamp(50px, 17%, 100px);
    }

    .form-control {
        border: $light;
    }

    .form-label {
        margin-bottom: 0.25rem;
    }

    .btn {
        outline-offset: 6px;
        background-color: $dark;
    }
}

.navbar {
    z-index: 2;
    background-color: transparent;
}

.onoff:hover {
    color: #FFFFFF;
}