@import 'var.scss';

body {
    background-color: $light;
    font-family: 'Poppins';
}

h1{
    color: $dark;
    font-size: 100px;
    font-family: 'Poppins';
    text-transform: uppercase;
    margin-bottom: 50px;
}

h2{
    color: $primary;
    font-size: 50px;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    text-transform: uppercase;
    margin-top: 0;
    
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#fleche {
    position: relative;
    top: 30px;
    border-radius: 50%;
    z-index: 9000;
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid $secondary;
}

#mise {
    width: 500px;
    height: 40px;
    padding: 6px;
    font-size: 20px;
    border-radius: 50px;
    text-align: center;
    color: red;
    border: 2px solid black;
}

#roue {
    width: 530px;
    height: 530px;
    position: relative;
    top: 0px;
}

/* Button */

#jouer{
    position: relative;
    top: -8px;
    padding: 6px 22px;
    font-size: 20px;
    background-color: $secondary;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    height: 50px;
    width: 150px;
    border: 1px solid $dark;
}


/* Portefeuille */

#portefeuille {
    position: absolute;
    top: 50%;
    right: 10%;
    padding: 5px 30px;
    color: rgb(0, 0, 0);
    background-color: $light;
    border: 5px solid #757575;
    border-radius: 10px;
    display: none;
}

#portefeuille .monnaie {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.5;
}

.scoreWheel {
    color: white;
    position: absolute;
    left:  3rem;
    top: 35rem;
    text-align: center;
}

.scoreTest {
    font-size: 3rem;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

.scoreMin {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

.form {
    color: white;
    position: absolute;
    right:  3rem;
    top: 35rem;
    text-align: center;
}

.formTitle {
    font-size: 2.7rem;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

input {
    width: 15rem;
    height: 3rem;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

