{% extends 'admin.html.twig' %}

{% block title %}Nouveau
{% endblock %}

{% block body %}
	{% include '_components/_dots.html.twig' %}

	<h1 class="text-center text-center my-5 fw-bold text-dark">Ajouter un nouveau smartphone</h1>

	<div class="container">
		{{ include('mobil/_form.html.twig') }}
		<a class="btn btn-sm btn-success my-5 p-2 text-dark" href="{{ path('app_accueil') }}">Retour</a>
	</div>

{% endblock %}
