{% extends 'admin.html.twig' %}

{% block title %}New Mobil
{% endblock %}

{% block body %}
{% include '_components/_dots.html.twig' %}
	<h1 class="text-center">Ajoute un nouveau mobile</h1>
	<div class="container">
		{{ include('mobil/_form.html.twig') }}
	</div>
    
	<a class="btn btn-outline border-primary text-primary m-3" href="{{ path('app_mobil_index') }}">Retour à la liste</a>
    
{% endblock %}
